body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #276e29;
}

button {
    background-color: #276e29; 
    color: white; 
    border: none; 
    padding: 10px 15px; 
    margin: 10px 0; 
    cursor: pointer; 
    border-radius: 5px;
    font-size: 16px; 
}

button:hover {
    background-color: #0d460f; 
}

input[type="text"] {
    width: calc(100% - 22px); 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    margin: 10px 0; 
}

#commentsList, #indexedDBList {
    margin-top: 20px; 
    padding: 15px; 
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px; 
}

#coordinates {
    margin: 10px 0; 
    font-weight: bold;
}
